doctype html
html
  head
    title Portfolio App
    link(rel="stylesheet", href="/styles.css")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
  body
    div.container.text-center
      h1 Welcome to My Portfolio App
      p
        a(href="/projects") View Projects 
        div
        a(href="/skills") View Skills
      p This app allows you to manage your projects and skills. Use the admin page to add new projects and skills, and manage the data stored in your portfolio.
      a.btn.btn-primary(href="/admin") Go to Admin Page
