doctype html
html
  head
    title Skills
    link(rel="stylesheet" href="/styles.css")
    .container
      h1 Skill List
      if skills.length > 0
        each skill in skills
          .skill-card
            p Skill Name: #{skill.skillName}
            p Skill Level: #{skill.skillLevel}
      else
        p No skills available.
      br
      a.back-link(href="/") Back to Home
